* {
  font-family: Roboto, sans-serif;
}

header,
footer,
.hero-section {
  background: #1F2937;
}

header,
footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header,
footer,
section {
  padding: 0 198px;
}

h3 {
  color: #F9FAF8;
  font-size: 24px;
}

ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.hero-section {
  display: flex;
  gap: 40px;
  padding-top: 100px;
  padding-bottom: 120px;  
}

a,
p {
  color: #E5E7EB;
  text-decoration: none;
}

a,
p,
button {
  font-size: 18px;
}

h1,
button {
  color: #F9FAF8;
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
}

button {
  background: #3882F6;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  padding: 8px 26px;
}

.information-section {
  padding-top: 20px;
  padding-bottom: 90px;
}

h2 {
  color: #1F2937;
  font-size: 36px;
  font-weight: extra-bold;
  text-align: center;
}

.images-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 40px;
}

.figure-container {
  width: 160px;
}

.figure-container img {
  border: 4px #3882F6 solid;
  border-radius: 16px;
}

.figure-container p {
  color: #606268;
  text-align: center;
}

.quote-section {
  background: #E5E7EB;
  display: flex;
  flex-direction: column;
  padding: 100px 300px 60px;
}

.quote-section p {
  color: #1F2937;
}

.quote-section .quote {
  font-size: 36px;
  font-style: italic;
  margin-bottom: 0;

}

.quote-attribution {
  align-self: flex-end;
  font-size: 22px;
  font-weight: 600;
  margin-top: 0;
  margin-right: 38px;
}